<%=stylesheet_link_tag "home.about.css"%>


  <div class="row-fluid">
	  <div class="span2" id="owner">

		  <%= image_tag "owner.png", :id => "pic"%>
		</div>
		<div class="span10" id="owner_description">
			<h2>Michael Logan<h2> <div class="lead">Got his degree in construction management
				  from "College" in 2006. He has on the job experience with [""]
				  and started Logan Construction in "Date".</div> 
		</div>
	</div>
	
	<div class="row-fluid">
	  <div class="span2" id="employee">

		  <%= image_tag "employee.png", :id => "pic"%>
		</div>
		<div class="span10" id="owner_description">
			<h2>Ernesto Ortez<h2> <div class="lead">Hopes to one day take a trip to Amarillo,
				Texas, where his cousin Javier lives. "After Amarillo who knows, maybe
				back to Dallas". Ernesto's favorite color is a mix between orange and purple.<div> 
		</div>
	</div>

 