		
		<div class="row-fluid">
			<div class="span4">
				<div class="profile_pic">
					<ul>
						<%= image_tag "dd"%>
						<%= image_tag "dd"%>
					</ul>
				</div>
			</div>
			<div class="span8">
				<div class= "hero-unit">
					<p> Hello Dr. Murphy!
				</div
			</div>
		</div>
	