<%= javascript_include_tag 'home.gallery.js'%>
<%= stylesheet_link_tag 'home.gallery.css'%>

<div class= "pic_show">
	<div class= "row-fluid">
	  <div class= 'span12'>
      <div id="galleria">
      </div>
	    </div>
	  </div>
</div>
