<%=javascript_include_tag "home.index.js"%>
<%=stylesheet_link_tag "home.index.css" %>



<div class ="span12">
	<div class="intro">
 		<h1> Wooden window restoration is our specialty, but we
			do a lot of things at Logan Construction.</h1> 
	</div>		
</div>

<div class= "pic_show">
  <div class= "row-fluid">
	  <div class= "hidden-phone hidden-tablet">
			<div class= 'span12'>
				<h1>Check out some <%= link_to "photos", "gallery" %> of our projects</h1>
			</div>
    </div>
		  <div class= "span3">
				<div class= "well">
	          <div class="lead">
							<ul class="attributes">
								<li>Home Remodeling</li>
								<li>Window Restoration</li>
								<li>Wood Floor Refurbishing</li>
								<li>Low Voltage Electrical Repair</li>
								<li>Interior/Exterior Painting</li>
								<li>General Home Repair</li>
							</ul>
					  </div>
			  </div>
	    </div>
	</div>
</div>

	
<div  class="container-fixed">
  <div class="hidden-phone hidden-tablet">
  	<div id= "roof">
		  <%=image_tag "rooftop.png"  %>
		</div>
	</div>
 

</div>

	
	



