
<div class = "header">
  
    <div class = "logo">
      <%= "" %>
    </div> 
    <h1>Logan Construction</h1>
   
</div>
<div class= "span-2">
    <p> Welcome to Logan Construction. We do it all! From full home remodels, electrical         repairs to wooden, window restoration. Here at Logan Construction we are 
	dedicated to quality service. </p>
</div> 
