<div class="span4">
	<div class= 'hero-unit'>
		<div class="lead">
			<ul>
				<li>Home Remodeling</li>
				<li>Window Restoration</li>
				<li>Wood Floor Refurbishing</li>
				<li>Low Voltage Electrical Repair</li>
				<li>Interior/Exterior Painting</li>
				<li>General Home Repair</li>
		</div>
	</div>

	  <h1 class ="arrow_box">Work Gallery</h1>
	
</div>

<div class= "pic_show">
	<div class= "hidden-phone">
		<div class= "row-fluid">
			<div class= 'span8'>
  	    <div id="galleria">
  
	      </div>
	    </div>
	  </div>
	</div>
</div>


