#roof { margin-top: 30%;
        width: 3000px;
        height:100%;
        overflow: scroll;
        position: fixed;

       }

#owner_description {background-color:"";

}

#owner {background-color: "grey";}
#employee{padding-top: 10px;}
