.well#contact-form { text-align:center;
                    }
       				
                    
                  	
input#customer_name {width:auto;}
input#customer_email{width:auto;}                


textarea#customer_description {
                               height: 200px;
                               }


#roof { margin-top: 8%;
        width: 3000px;
        height:auto;
        overflow: scroll;
        position: fixed;
}



