.well#contact-form {width: auto;
                    padding-top: 10%;
                    
                    text-align:center;}
       				
                    
                  	
input#customer_name {width:auto;}
input#customer_email{width:auto;}                


textarea#customer_description {width: auto;
                                height: 200px;}


#roof { margin-top: 8%;
        width: 3000px;
        height:100%;
        overflow: scroll;
        position: fixed;
}