#galleria{ width: auto; height: 600px; background:black;}

body .galleria-container{ background:black;
 												  float: left;
                           padding-top: 0px;
                           margin-top: 0px;}

.pic_show { margin-top: 3.5%;}

body { background-color: black;}

