// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.dropdown{float:right;
          margin-right: 8%;}

.navbar-inverse .brand  {color:white;}



.navbar-inverse .nav > li {color:#E5E5E5;}

.notice {padding-top:5%;}

.alert.fade.in.alert-success { background-color:white;
                               border-color: white;
															 margin-left:1%;
                               
                               color: rgb(135,135,135);
                               width: 600px;
                               }


							
ul.nav li {;}

h4#user-name{color:white;}

.alert-success {
  color: white;
  background-color: white;
  border-color: white;
}



.job{margin-top:5%;}
.about{margin-top:5%;}
.contact{margin-top:5%;}
.sign_in{margin-top:5%}








