// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.navbar.brand {color: #FFFFFF;
								       font-size: 200%;
}

.navbar {background-color: #0066CC;}



.navbar .btn {float: right;}



.navbar-inverse .nav > li {color:#E5E5E5;}

footer {margin-left: 3%;
        color: #E5E5E5;}

.job{margin-top:5%;}
.about{margin-top:5%;}
.contact{margin-top:5%;}
.sign_in{margin-top:5%}








