
.navbar-inverse .brand  {color:white;}

ul.attributes li { padding: 2%;}

.intro { margin-top: 2%;
        }

.span5 {margin-top: 4%;}

.pic_show { margin-left: 2%;}


.lead { color: rgb(135,135,135);
  
}
body .galleria-container{ background: white; 
                           border: none;}


h2, a:hover {text-decoration:none;
             color:rgb(234,234,234);}

.container-fixed {margin-left:-2em;
                  margin-right:-2em;
                 }

#roof { padding-top: 5%;
       width: 3000px;
        overflow: auto;
        position: fixed;
       
}
.well {width:auto;}
			





        	







