<!DOCTYPE html>
<html>
<head>
  <title>Logan Construction</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap.min.css">
	<!--[if lt IE 7]><link rel="stylesheet" href="http://blueimp.github.com/cdn/css/bootstrap-ie6.min.css"><![endif]-->
	<link rel="stylesheet" href="css/bootstrap-image-gallery.min.css">
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>